{% extends 'base.html.twig' %}

{% block stylesheets %}
{{ encore_entry_link_tags('app') }}
{% endblock %}

{% block body %}
    <div class="row d-flex justify-content-center mt-5">
        {% if recipient is defined %}
        <div id="conversation" class="col-6 p-0" data-user="{{ app.user.id }}">
                {% if messages is defined %}
                <div id="messages" class="d-flex flex-column" data-recipient="{{ recipient.id }}">
                    {% for message in messages %}
                        {% if message.author == app.user %}
                            <div class="message--sended">
                                <p class="message-content m-0">{{ message.content }}</p>
                                <p class="message-date m-0">{{ message.createdAt|date('d-m-y | H:i') }}</p>
                            </div>
                        {% else %}
                            <div class="message--received">
                                <p class="message-content m-0">{{ message.content }}</p>
                                <p class="message-date m-0">{{ message.createdAt|date('d-m-y | H:i') }}</p>
                            </div>
                        {% endif %}
                    {% else %}
                        <p id="no-messages" class="m-0">Aucun messages.</p>
                    {% endfor %}
                </div>
                {% endif %}
            <form id="chat-form" action="{{ path('sendMessage') }}" method="POST" class="form-inline">
                <div class="form-group col-10 p-0">
                    <textarea class="form-control" id="message-input" placeholder="Votre message" name="message"></textarea>
                </div>
                <button type="submit" class="btn btn-primary col-2">Envoyer</button>
            </form>
        </div>
        {% endif %}

        <div id="users-list" class="list-group">
            <span class="list-group-item bg-primary text-light">Utilisateurs</span>
            {% for user in users %}
                {% if user != app.user %}
                    {% if user.isActiveNow() == true %}
                        <a href="{{ path('conversation', {author: app.user.id, recipient: user.id}) }}" class="list-group-item list-group-item-action text-success" data-user-id="{{ user.id }}">{{ user.username }}</a>
                    {% else %}
                        <a href="{{ path('conversation', {author: app.user.id, recipient: user.id}) }}" class="list-group-item list-group-item-action text-danger" data-user-id="{{ user.id }}">{{ user.username }}</a>
                    {% endif %}
                {% endif %}
            {% endfor %}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
{{ encore_entry_script_tags('app') }}
{% endblock %}